$mainColor: #EA630B;
$secondColor: #4B2771;
$gold: #FFD700;

@font-face {
    font-family: Almarai;
    src: url(../webfonts/Almarai-Regular.ttf);
}

@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

* {
    font-family: 'Almarai';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background-color: #00000020;
}

::-webkit-scrollbar-track {
    box-shadow: none;
}

::-webkit-scrollbar-thumb {
    background-color: $mainColor;
    outline: none;
    border-radius: 20px !important;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

button:focus {
    outline: 0;
}

.color1 {
    color: $mainColor  !important;
}

.color2 {
    color: $secondColor  !important;
}

.BG1 {
    background-color: $mainColor  !important;
}

.BG2 {
    background-color: $secondColor  !important;
}

.row {
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 32px;
    margin: 0px;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
    margin: 0px 5px;
}

.form-control:focus {
    background-color: #fff;
    border-color: $mainColor;
    outline: none;
    box-shadow: 0px 2px 5px $mainColor;
    transition: all .3s ease-in-out;
}

.select2 {
    width: 100% !important;
}

.select2-selection__rendered {
    line-height: 34px !important;
    padding-left: 8px !important;
    padding-right: 20px !important;
}

.select2-container .select2-selection--single {
    height: 38px !important;
    border: 1px solid #ced4da;
}

.select2-selection__arrow {
    height: 37px !important;
    left: auto;
    right: 1px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: $mainColor;
}

.select2-container--default .select2-results__option--selected {
    background-color: $secondColor;
    color: #fff;
}

.select2-dropdown {
    z-index: 100;
    box-shadow: 0px 4px 4px #00669950;
}

.select2-search--dropdown .select2-search__field {
    box-shadow: 0px 4px 4px #00669950;
}

body {
    overflow-x: hidden;
}

.container {
    @media(max-width:768px) {
        padding: 0px 5px;
    }
}

/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
.main-header {
    .navbar {
        background: #fff;
        box-shadow: none;
        transition: .5s ease;
        padding: 0px;

        a {
            color: #000;
            text-transform: uppercase;
            margin: 0px 10px;
            transition: .3s ease-in-out all;

            &:hover {
                color: $mainColor  !important;
            }
        }
    }

    .navbar-brand {
        padding: 5px;

        img {
            height: 60px;
            transition: .5s ease;
        }

        h1 {
            text-transform: none;
            font-size: 50px;
            padding: 5px;
            transition: .5s ease-in-out;
        }
    }

    .navAnimate {
        background-color: #fff;
        transition: .5s ease;
        box-shadow: 0px 4px 6px #00000030;

        a {
            color: #000 !important;
        }

        .navbar-brand {
            img {
                height: 60px;
                width: auto;
                transition: .5s ease;
            }

            h1 {
                font-size: 40px;
                transition: .5s ease-in-out;
            }
        }
    }
}

@media(max-width:768px) {
    .navbar {
        background: #fff !important;
    }
}

/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/*----------*/
.main-bg {
    padding-top: 100px;

    .appInfo {
        .appName {
            color: $mainColor;
            font-size: 35px;
        }

        p {
            line-height: 38px;
            font-size: 19px;
            color: #7F7777;
        }
    }
}

.typewriter {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-left: .15em solid;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: 2px;
    /* Adjust as needed */
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;

    .appName {
        font-weight: bold;
    }
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    100% {
        border-color: #7F7777;
    }
}

//animateButton
.animateButton {
    background: #fff;
    font-weight: 100;
    color: $mainColor;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 0 2em;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;

    @media(min-width: 600px) {
        margin: 0 1em 2em;
    }

    svg {
        height: 45px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    rect {
        fill: none;
        stroke: $mainColor;
        stroke-width: 2;
        stroke-dasharray: 422, 0;
        transition: all 0.35s linear;
    }

    &:hover {
        background: rgba(#fff, 0);
        color: $secondColor;

        rect {
            stroke-width: 5;
            stroke-dasharray: 15, 310;
            stroke-dashoffset: 48;
            transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
        }
    }
}

.main {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
        content: '';
        position: fixed;
        background: rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    #player,
    #video_background {
        width: 100%;
        min-width: 1100px;
        height: 140%;
        margin: auto;
        position: fixed;
        z-index: -2;
        display: block;
        object-fit: cover;
    }

    .topContent {
        background-color: rgba(255, 255, 255, 0.347);
        position: fixed;
        color: #fff;
        width: 85vw;
        max-width: 200px;
        text-align: center;
        padding: 20px;
        z-index: 1;
        border-radius: 20px;
        box-shadow: 0px 6px 10px #00000030;

        h1 {
            font-size: 60px;
            line-height: 50px;

            span {
                text-transform: uppercase;
                color: $mainColor;
                font-size: 35px;
                font-weight: bold;
            }
        }

        p {
            padding: 20px;
            font-size: 20px;
            // text-align: start;
            color: #000;
        }

        img {
            width: 150px;
        }

        .goDown {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100% !important;
            padding: 0;
            margin: auto;

            &:hover {
                animation-fill-mode: both;
            }
        }

        @keyframes bounce {

            0%,
            20%,
            50%,
            80%,
            100% {
                transform: translateY(0);
            }

            40% {
                transform: translateY(-10px);
            }

            60% {
                transform: translateY(-5px);
            }
        }

        .bounce {
            animation: bounce 3s infinite;
        }
    }
}

.form-control {
    min-height: 54px;
}

.title {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin-bottom: 40px;

    h1 {
        font-size: 40px;
        font-weight: bold;
        padding-bottom: 20px;
        position: relative;
        color: #000;

        span {
            color: $mainColor;
        }

        &::after {
            content: '';
            width: 100%;
            height: 3px;
            background-color: $mainColor;
            border-radius: 100px;
            position: absolute;
            bottom: 0px;
            right: 0;
        }
    }
}

content {
    position: relative;
    z-index: 2;
    background-color: #fff;
    display: block;
    height: 100%;
    color: #000;
}

.contact {
    padding-top: 90px;
    padding-bottom: 30px;
    margin-bottom: 100px;
    position: relative;
    height: 100%;
    background-image: url(../img/contact.jpg);
    background-size: 750px 100%;
    background-position: left;
    background-repeat: no-repeat;

    &::after {
        content: '';
        width: 750px;
        height: 100%;
        background: linear-gradient(90deg, #ffffff00, #ffffff00, #fff);
        position: absolute;
        bottom: 0px;
        left: 0;
        transition: .3s ease-in-out all;

        @media(max-width: 576px) {
            background: linear-gradient(90deg, #ffffff, #fff0);
        }
    }

    .container {
        position: relative;
        z-index: 2;
    }

    .contactImg {
        position: relative;

        img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }
    }

    .form-control {
        background: transparent;
        border-radius: 0px;
        border: 1px solid #ced4da;
    }

    .btnDiv {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            width: 100%;
            height: 100%;
            font-size: 16px;
            background-color: #fff;
            color: #777;
            border: 1px solid #ced4da;
            margin: 0;
            box-shadow: none;
        }
    }

    form {
        background: #fff;
        padding: 20px;
    }
}

.app-Pic {
    padding: 80px 20px 40px;
    box-shadow: 0px -3px 50px #00000005;

    .swiper-container {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 40px;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 250px;
        height: 540px;

        img {
            width: 250px;
            height: 540px;
            box-shadow: 0px 3px 3px #00000030;
        }
    }
}

.Features {
    padding-bottom: 50px;
    text-align: center;
    margin-top: 50px;



    .Features-app {
        border-radius: 30px;
        box-shadow: 0px 1px 8px 10px #cbcbcb1c;
        padding-top: 20px;
        padding-bottom: 20px;
        min-height: 270px;
        transition: .3s ease;

        i {
            width: 100px;
            height: 100px;
            background: $mainColor;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin: auto;
            color: #fff;
            margin-bottom: 20px;
        }

        p {
            width: 90%;
            margin: auto;
            color: #7F7777;

        }
    }

    .Features-app:hover {
        margin-top: -30px;
        cursor: pointer;
    }


}


/////////////////////
.download-app {
    padding-bottom: 50px;
    text-align: center;
    padding-top: 50px;
    position: relative;
    background-image: url(../img/downloadBG.jpg);
    background-size: cover;
    background-attachment: fixed;

    .download-app-img img {
        height: 500px;
        width: 350px;
    }

    .down {
        position: absolute;
        left: 150px;
        top: 0px;
        z-index: 2;
    }

    .download-app-txt {
        color: #000;
        margin-top: 100px;

        a {
            display: inline-flex;
            justify-content: center;
            white-space: nowrap;
        }

        p {
            width: 100%;
            padding: 10 0;
            font-size: 17px;
            line-height: 43px;
        }

        img {
            width: 20px;
            height: 20px;
            margin-right: 10PX;
        }
    }
}

///////////////////////////////////
.main-bg {
    padding-top: 100px;

    .appInfo {
        .appName {
            color: $mainColor;
            font-size: 35px;
        }

        p {
            line-height: 38px;
            font-size: 19px;
            color: #7F7777;
        }
    }

    .btn {
        border: 1px solid $mainColor;
        box-shadow: 0px 3px 5px #00000010;
    }
}

@media(max-width: 576px) {

    // .download-app {
    //     background-size: contain;
    // }
    .download-app .download-app-img {
        margin-top: 50px;

        img {
            height: 380px;
            width: 235px;
        }
    }

    .download-app .down {
        left: 100px;
        top: 50px;
    }
}

.footer {
    position: relative;
    display: block;
    width: 100%;
    transition: .3s ease-in-out;
    color: rgb(67, 67, 69);
    overflow: hidden;
    text-align: center;

    a {
        color: $secondColor;
        text-transform: uppercase;
    }

    .container {
        margin: 0px auto;
        max-width: 940px;
        min-height: 400px;

        &::before {
            z-index: -1;
            content: "";
            display: block;
            width: 200%;
            height: 0px;
            padding-top: 200%;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50% 0px;
            background-image: url("../img/download.svg");
            position: absolute;
            top: 80px;
            left: -50%;

            @media (max-width:768px) {
                width: 350%;
                padding-top: 350%;
                left: -90%;
            }
        }
    }

    .logo {
        text-align: center;
        padding: 20px 30px 0;

        img {
            height: 120px;
            object-fit: contain;
        }
    }

    .links {
        text-align: center;
        padding: 50px 0 30px;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                display: inline-block;
                padding: 10px;

                a {
                    color: #000;
                    transition: .3s ease-in-out;

                    &:hover {
                        color: $secondColor;
                    }
                }
            }
        }
    }

    .social {
        text-align: center;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                display: inline-block;
                padding: 5px;

                a {
                    width: 100%;
                    height: 100%;
                    display: inline-flex;
                    min-width: 50px;
                    height: 50px;
                    justify-content: center;
                    align-items: center;
                    color: #979797;
                    border-radius: 100px;
                    border: 1px solid #979797;
                    transition: .3s ease-in-out;

                    &:hover {
                        background-color: $mainColor;
                        color: #fff;
                        border: 1px solid $mainColor;
                    }
                }
            }
        }
    }
}

.iPhone_animated {
    height: 600px;
    width: 100%;
    object-fit: contain;
    object-position: left;
    margin-top: 50px;

    @media(max-width: 992px) {
        height: 400px;
    }
}

.top-BG {
    background-image: url(../img/back.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    position: relative;

    .mobile-img {
        margin-top: 90px;

        img {
            width: 300px;
            height: 520px;
            margin-right: 140px;
        }
    }

    div {
        h1 {
            margin: auto;
            margin-top: 200px;
            color: #000;
        }

        p {
            width: 600px;
            line-height: 48px;
            margin: auto;
            font-size: 20px;
            margin-top: 10px;
            color: #000;
        }

        a {
            height: 45px;
            margin-top: 30px;
            border-radius: 25px;
            white-space: nowrap;

            i {
                font-size: 17px;
            }
        }
    }
}

.wave-primary {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: auto;
    pointer-events: none;

    .wave-path {
        transform: scale(1.1, 1);
        transform-origin: 50% 100%;
    }

    .wave-path-1 {
        fill: $mainColor;
        opacity: .3;
        animation: wave5 15s ease-in-out infinite;
    }

    .wave-path-2 {
        fill: $mainColor;
        opacity: .6;
        animation: wave6 15s ease-in-out infinite;
    }

    .wave-path-3 {
        fill: $mainColor;
        opacity: .4;
        animation: wave7 15s ease-in-out infinite;
    }
}

.wave-primary-1 {
    overflow: visible;
    width: 61.72%;
}

.context-dark .wave-primary .wave-path-1,
.bg-gray-700 .wave-primary .wave-path-1,
.bg-gray-800 .wave-primary .wave-path-1,
.bg-primary-app .wave-primary .wave-path-1,
.bg-primary .wave-primary .wave-path-1,
.bg-primary-1 .wave-primary .wave-path-1,
.bg-primary-2 .wave-primary .wave-path-1,
.bg-wave-dark-wrap .wave-primary .wave-path-1,
.bg-gradient-primary .wave-primary .wave-path-1,
.bg-gradient-primary-1 .wave-primary .wave-path-1,
.rd-navbar-corporate .wave-primary .wave-path-1,
.rd-navbar-app .wave-primary .wave-path-1 {
    fill: rgba(0, 242, 169, 0.9);
}

.context-dark .wave-primary .wave-path-2,
.bg-gray-700 .wave-primary .wave-path-2,
.bg-gray-800 .wave-primary .wave-path-2,
.bg-primary-app .wave-primary .wave-path-2,
.bg-primary .wave-primary .wave-path-2,
.bg-primary-1 .wave-primary .wave-path-2,
.bg-primary-2 .wave-primary .wave-path-2,
.bg-wave-dark-wrap .wave-primary .wave-path-2,
.bg-gradient-primary .wave-primary .wave-path-2,
.bg-gradient-primary-1 .wave-primary .wave-path-2,
.rd-navbar-corporate .wave-primary .wave-path-2,
.rd-navbar-app .wave-primary .wave-path-2 {
    fill: rgba(0, 242, 169, 0.8);
}

.context-dark .wave-primary .wave-path-3,
.bg-gray-700 .wave-primary .wave-path-3,
.bg-gray-800 .wave-primary .wave-path-3,
.bg-primary-app .wave-primary .wave-path-3,
.bg-primary .wave-primary .wave-path-3,
.bg-primary-1 .wave-primary .wave-path-3,
.bg-primary-2 .wave-primary .wave-path-3,
.bg-wave-dark-wrap .wave-primary .wave-path-3,
.bg-gradient-primary .wave-primary .wave-path-3,
.bg-gradient-primary-1 .wave-primary .wave-path-3,
.rd-navbar-corporate .wave-primary .wave-path-3,
.rd-navbar-app .wave-primary .wave-path-3 {
    fill: rgba(0, 242, 169, 0.5);
}

@keyframes wave5 {
    25% {
        transform-origin: 0 100%;
        transform: scale(1.3, 1.1);
    }

    75% {
        transform: scale(1.15, 0.9);
        transform-origin: 100% 100%;
    }
}

@keyframes wave6 {
    25% {
        transform-origin: 100% 100%;
    }

    50% {
        transform: scale(1.2, 0.8);
    }

    75% {
        transform-origin: 0 100%;
    }
}

@keyframes wave7 {
    25% {
        transform-origin: 0 100%;
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform-origin: 100% 100%;
    }
}



.testimonial-carousel .carousel-control.left::before {
    content: "\203a";
}
.testimonial-carousel .carousel-control.right::before {
    content: "\2039";
}
.carousel-item{
    p{
        min-height: 70px;
        margin-top: 50px;
    }
}


.contact-us {
    padding: 80px 0px 0px;

    h1 {
        color: $secondColor;
        font-size: 28px;
        text-align: center;

    }

    form {
        border: 5px solid $mainColor;
        padding: 10px;
        border-radius: 30px;

        input {
            height: 50px;
            margin: 5px 0px 10px;
            border: 1px solid $mainColor;

        }

        textarea {
            border-bottom-right-radius: 30px;
            border-top-left-radius: 30px;
            border: 1px solid $mainColor;

        }

        button {
            border: 1px solid $mainColor;
        }
    }
    img{
        object-fit: contain;
    }

}
img{
    max-width: 100%;
}
.start-border {
    border-right: 3px solid $mainColor;
    display: inline-block;
    padding-right: 10px;
    font-size: 28px;
    margin-bottom: 30px;
}

/* Normal desktop :992px. (Laptop 14") */
@media (min-width: 992px) and (max-width: 1199px) {

    /* Global */
    h1 {
        font-size: 30px !important;
    }

    h2 {
        font-size: 26px !important;
    }

    h3 {
        font-size: 22px !important;
    }

    h4 {
        font-size: 20px !important;
    }

    h5 {
        font-size: 18px !important;
    }

    h6 {
        font-size: 16px !important;
    }

    p {
        font-size: 14px !important;
    }
}

/* Tablet device :768px. */
@media (min-width: 768px) and (max-width: 991px) {

    /* Global */
    body {
        font-size: 14px !important;
    }

    h1 {
        font-size: 26px !important;
    }

    h2 {
        font-size: 22px !important;
    }

    h3 {
        font-size: 20px !important;
    }

    h4 {
        font-size: 18px !important;
    }

    h5 {
        font-size: 16px !important;
    }

    h6 {
        font-size: 15px !important;
    }

    p {
        font-size: 14px !important;
    }
}

/* small mobile :320px. */
@media (max-width: 767px) {

    /* Global */
    body {
        font-size: 12px !important;
    }

    h1 {
        font-size: 22px !important;
    }

    h2 {
        font-size: 18px !important;
    }

    h3 {
        font-size: 16px !important;
    }

    h4 {
        font-size: 15px !important;
    }

    h5 {
        font-size: 14px !important;
    }

    h6 {
        font-size: 13px !important;
    }

    p {
        font-size: 12px !important;
    }
}

.navbar {
    @media (max-width: 767px) {
        .navbar-collapse {
            padding-bottom: 10px;
        }
    }

    .nav-item .nav-link {
        display: flex;
        justify-content: center;
        padding: 15px;
    }
}